<a href="https://github.com/metric152/css-demo-v2"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
<h1>
  {{title}}
</h1>
<nav>
    <details>
        <summary>Flexbox examples</summary>
        <details>
            <summary>Child examples</summary>
            <a [routerLink]="['/example-1']">Example 1</a>
            <a [routerLink]="['/example-2']">Example 2</a>
            <a [routerLink]="['/example-3']">Example 3</a>
        </details>
        <details>
            <summary>Parent examples</summary>
            <a [routerLink]="['/example-4']">Example 4</a>
            <a [routerLink]="['/example-5']">Example 5</a>
            <a [routerLink]="['/example-6']">Example 6</a>
            <a [routerLink]="['/example-7']">Example 7</a>
            <a [routerLink]="['/example-8']">Example 8</a>
        </details>
    </details>
    <details>
        <summary>Grid examples</summary>
        <a [routerLink]="['/example-9']">Example 9</a>
        <a [routerLink]="['/example-10']">Example 10</a>
    </details>
</nav>
<router-outlet></router-outlet>
